{# templates/includes/educational_materials.html — section partial, extracted from portfolio_index_pre_template.html #}
{# Data-driven now: loops over the 3 latest BlogPost rows (passed as recent_posts by designWithCory view) #}
{# instead of 3 hand-duplicated blocks that all pointed href="#". #}
{% load static %}
<section class="u-align-center u-clearfix u-container-align-center u-palette-1-light-3 u-section-8" id="block-10">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1"> Latest Tips &amp; Tricks</h2>
        <div class="custom-expanded u-blog u-blog-1">
          <div class="u-repeater u-repeater-1">
            {% for post in recent_posts %}
            <div class="u-blog-post u-container-align-left-sm u-container-align-left-xs u-radius u-repeater-item u-shape-round u-white u-repeater-item-{{ forloop.counter }}">
              <div class="u-container-layout u-similar-container u-valign-middle-sm u-valign-middle-xs u-container-layout-{{ forloop.counter }}">
                <img src="{{ post.cover_image.url }}" alt="{{ post.title }}" class="u-blog-control u-image u-image-round u-radius u-image-{{ forloop.counter }}" data-href="{{ post.get_absolute_url }}">
                <div class="u-align-left-sm u-align-left-xs u-blog-control u-metadata u-metadata-{{ forloop.counter }}"><span class="u-meta-date u-meta-icon">{{ post.published_at|date:"M j, Y" }}</span>
                </div>
                <h2 class="u-align-left u-blog-control u-text u-text-{{ forloop.counter }}">
                  <a class="u-post-header-link" href="{{ post.get_absolute_url }}">{{ post.title|upper }}</a>
                </h2>
                <div class="u-align-left u-blog-control u-post-content u-text u-text-{{ forloop.counter }} fr-view">{{ post.excerpt }}</div>
                <a href="{{ post.get_absolute_url }}" class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-blog-control u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius u-btn-{{ forloop.counter }}" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">Read More</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
