{# templates/includes/hero.html — section partial, extracted from portfolio_index_pre_template.html #}
{% load static %}
<section class="u-clearfix u-container-align-center u-palette-1-light-3 u-section-1" id="block-1">
      <div class="u-expanded-width u-shape u-shape-rectangle u-white u-shape-1"></div>
      <div class="custom-expanded data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-size-32-lg u-size-32-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="600">
              <div class="u-container-layout u-valign-top-lg u-valign-top-sm u-valign-top-xs u-container-layout-1">
                <h1 class="u-align-left u-text u-text-1"> I’m Cory</h1>
                <h3 class="u-align-left u-text u-text-palette-1-base u-text-2">Senior Software Engineer</h3>
                <h3 class="u-align-center u-text u-text-palette-1-base u-text-3">Blockchain Consultant </h3>
                <h3 class="u-align-right u-text u-text-palette-1-base u-text-4">Security Analyst</h3>
                <a href="#" class="u-align-left u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius u-btn-1">Learn more&nbsp;&nbsp;<span class="u-file-icon u-icon u-text-white u-icon-1"><img src="{% static 'images/545682-1ca20afc.png' %}" alt=""></span>
                </a>
                <div class="u-social-icons u-social-icons-1">
                  <a class="u-social-url" title="facebook" target="_blank" href="https://facebook.com/name"><span class="u-icon u-social-facebook u-social-icon u-text-palette-1-light-1 u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-1820"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-1820"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2
c0-6.7,3.1-17,17-17h12.5v13.9H73.5z"></path></svg></span>
                  </a>
                  <a class="u-social-url" title="twitter" target="_blank" href="https://twitter.com/name"><span class="u-icon u-social-icon u-social-twitter u-text-palette-1-light-1 u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2" style=""><use xlink:href="#svg-9e4a"></use></svg><svg class="u-svg-content" viewBox="0 0 112.2 112.2" x="0px" y="0px" id="svg-9e4a"><circle fill="currentColor" cx="56" cy="56" r="55"></circle><path fill="#FFFFFF" d="M63.9,51l22.4-24h-8.6L60.3,45.9L46.9,27H24l23.3,32.8L24,85h8.2L51,64.9L65.3,85H88L63.9,51z M55.3,60.2
l-3.7-5.1L35.7,33.1h8.1l12.3,17.2l3.7,5.1l16.6,23.4h-7.8L55.3,60.2z"></path></svg></span>
                  </a>
                  <a class="u-social-url" title="instagram" target="_blank" href="https://instagram.com/name"><span class="u-icon u-social-icon u-social-instagram u-text-palette-1-light-1 u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-48c2"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-48c2"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path><path fill="#FFFFFF" d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path><path fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path></svg></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-size-28-lg u-size-28-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
              <div class="u-container-layout u-container-layout-2">
                <img class="u-expanded-width u-image u-image-round u-radius u-image-1" src="{% static 'images/ChatGPTImageAug112026at12_55_48AM.png' %}" alt="" data-image-width="1402" data-image-height="1122" data-animation-name="flipIn" data-animation-duration="1500" data-animation-delay="0" data-animation-direction="X">
                <div class="custom-expanded u-container-align-center u-container-style u-group u-palette-1-base u-radius u-shape-round u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="200">
                  <div class="u-container-layout u-valign-middle u-container-layout-3">
                    <h3 class="u-align-center u-text u-text-5" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">12+</h3>
                    <h6 class="u-align-center u-text u-text-6"> Years of Experience</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="custom-expanded u-align-center u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="200">
            <div class="u-container-layout u-similar-container u-container-layout-4">
              <h3 class="u-align-center u-text u-text-palette-1-base u-text-7" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="250">40+</h3>
              <h6 class="u-align-center u-text u-text-8"> Satisfied Clients</h6>
            </div>
          </div>
          <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="200">
            <div class="u-container-layout u-similar-container u-container-layout-5">
              <h3 class="u-align-center u-text u-text-palette-1-base u-text-9" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="250">2125</h3>
              <h6 class="u-align-center u-text u-text-10">Github commits (and counting...)</h6>
            </div>
          </div>
          <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="200">
            <div class="u-container-layout u-similar-container u-container-layout-6">
              <h3 class="u-align-center u-text u-text-palette-1-base u-text-11" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="250">$2M+</h3>
              <h6 class="u-align-center u-text u-text-12">investment capital​ raised for startups</h6>
            </div>
          </div>
          <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="200">
            <div class="u-container-layout u-similar-container u-container-layout-7">
              <h3 class="u-align-center u-text u-text-palette-1-base u-text-13" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="250">99.2%</h3>
              <h6 class="u-align-center u-text u-text-14">annual server uptime </h6>
            </div>
          </div>
        </div>
      </div>
    </section>
