{# templates/includes/lead_gen.html — section partial, extracted from portfolio_index_pre_template.html #}
<section class="u-align-center u-clearfix u-container-align-center u-palette-1-light-3 u-section-5" id="block-6">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-radius u-right-cell u-shape-round u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-white u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="1400" data-animation-delay="400">
                <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
                  <h5 class="u-align-left u-text u-text-default u-text-1"> Have a project in mind?</h5>
                  <h2 class="u-align-left u-text u-text-2"> Let's talk about how to build it.<br>
                  </h2>
                  <div class="u-align-left u-border-1 u-border-grey-25 u-line u-line-horizontal u-line-1"></div><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-text-white u-icon-1"><img src="{% static 'images/1082334-c91f3b92.png' %}" alt=""></span>
                  <h5 class="u-align-left u-text u-text-default u-text-3">Phone number<br>
                  </h5>
                  <h4 class="u-align-left u-text u-text-default u-text-4">
                    <a href="tel:+1 232 343 44 55" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">+1 (610) 413-6101 </a>
                    <br>
                  </h4>
                  <div class="u-align-left u-border-1 u-border-grey-25 u-line u-line-horizontal u-line-2"></div><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-text-white u-icon-2"><img src="{% static 'images/646135-a85e65c4.png' %}" alt=""></span>
                  <h5 class="u-align-left u-text u-text-default u-text-5">Email<br>
                  </h5>
                  <h4 class="u-align-left u-text u-text-default u-text-6">
                    <a href="#" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2"><span class="__cf_email__" data-cfemail="b7ded9c6c2dec5cef7f3d2c4ded0d9e0dec3dff4d8c5ce99d4d8da">[email&#160;protected]</span></a>
                    <br>
                  </h4>
                </div>
              </div>
              <div class="u-container-style u-image u-image-round u-layout-cell u-left-cell u-radius u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-image-1" data-image-width="800" data-image-height="1200" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-valign-bottom u-container-layout-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
